html,
body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px;
}

#map {
    flex: 1;
    min-height: 650px;
}

.app-layout {

    display: flex;

    gap: 20px;

    align-items: flex-start;

}

#toolPanel {
    width: 280px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
}

@media (max-width: 768px) {
    .app-layout {
        flex-direction: column;
    }

    #toolPanel {
        width: 100%;
    }

    #map {
        min-height: unset;
        height: 50vh;
    }
}