body {

    font-family: Arial, sans-serif;

    margin: 20px;

    background: #f5f5f5;

}

.toolbar {

    margin-bottom: 15px;

}

#canvasContainer {
    position: relative;
    width: 900px;
    max-width: 100%;
}


#viewer {
    display: block;
    border: 1px solid #999;
    background: white;
}


#regionLayer,
.canvas-container {
    width: 100%;
    height: auto;
}

#regionLayer {
    position: absolute;
    left: 0;
    top: 0;
}

/* Fabric creates this wrapper */
.canvas-container {

    position: absolute !important;

    left: 0;

    top: 0;

}


.upper-canvas {

    position: absolute !important;

    left: 0;

    top: 0;

    z-index: 10;

}


.lower-canvas {

    position: absolute !important;

    left: 0;

    top: 0;

}

#metadataPreview,
#coordinatePreview,
#planningPreview {

    margin-bottom:20px;

    background:white;

    padding:10px;

    border:1px solid #ccc;

}